@font-face {
    font-family: 'uppereastsideregular';
    src: url('UpperEastSide-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style-type: none;
	text-decoration: none;
}
body > header > div > button:focus,
.alert-div > button:focus,
.alert-div a:focus,
div > header > nav ul li a:focus{
	outline: 2px solid #fff176;
}
.line-buttons > button:focus,
.bar_donut > button:focus,
.donut-legend > ul li:focus,
div.mem-out > p:focus,
.rec-activity .activity > button:focus{
	outline: 2px solid #7377bf;
}
body > header{
	height: 70px;
	background-color: #7477BF;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
body > header > h1{
	color: #fff;
	font-family: 'uppereastsideregular';
	font-size: 50px;
	letter-spacing: 0.05em;
	padding-left: 0.125em;
}
body > header > h1 > span{
	font-size: 25px;
}
body > header > div{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 48%;
	text-align: center;
}
body > header > div > p:first-of-type{
	font-size: 45px;
	color: #5E62BF;
	padding-bottom: 8px;
}
body > header > div > p:last-of-type{
	color: #fff;
	font-family: 'Alegreya Sans', sans-serif;
}
body > header > div > button{
	cursor: pointer;
	opacity: 0.7;
	background-color: transparent;
	border: none;
	width: 22px;
	height: 22px;
}
.st0{
	fill: #fbfbfb;
}
body > header > div > button:hover{
	opacity: 1;
}
body > header > div > span{
	position: absolute;
	color: #85DB81;
	font-size: 55px;
	left: 15px;
	bottom: 28px;
	cursor: default;
	animation: blink 0.75s linear infinite;
}
@keyframes blink{
	0%{color: #85db81;}
	100%{color: #ff005c;}
}
.dropdown{
	display: none;
	position: absolute;
	background-color: #822c23;
	width: 250px;
	top: 55px;
	left: -136px;
	z-index: 200;
	border-radius: 4px;
	box-shadow: 12px 14px 15px 3px #1c0000;
}
.dropdown ul{
	padding: 1em;
}
.dropdown ul li{
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 20px;
	color: #fffde7;
	border-bottom: 1px solid #fffde7;
	margin-bottom: 0.25em;
	text-align: left;
}
.dropdown ul li span{
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size: 28px;
	color: #81c98f;
}
.triangle{
	display: none;
	position: absolute;
	width: 0;
	height: 0;
	top: 36px;
	left: -3px;
	border-left: 17px solid transparent;
	border-right: 17px solid transparent;
	border-bottom: 19px solid #822c23;
}
body > header > div > img:last-of-type{
	height: 30px;
	border-radius: 50%;
}
div > header{
	background-color: #4D4C72;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	right: 0;
	left: 0;
	z-index: 111;
}
.tooltip, .tooltip2{
	position: relative;
}
.tooltip:before,
.tooltip:after,
.tooltip2:before,
.tooltip2:after{
	position: absolute;
	left: 50%;
	display: none;
}
.tooltip:hover:before,
.tooltip:focus:before,
.tooltip:hover:after,
.tooltip:focus:after,
.tooltip2:hover:before,
.tooltip2:focus:before,
.tooltip2:hover:after,
.tooltip2:focus:after{
	display: block;
}
.tooltip:before,
.tooltip2:before{
	border-style: solid;
	border-width: 0 5px 10px 5px;
	border-color: transparent transparent #fff176 transparent;
	bottom: -6px;
	content: "";
}
.tooltip:after,
.tooltip2:after{
	background: #fff176;
	font-family: 'Alegreya Sans SC', sans-serif;
	border: 1px dashed #7377bf;
	border-radius: .25em;
	left: 0;
	color: #7377bf;
	width: 87px;
	bottom: -32px;
	padding: .25em 0;
	content: attr(data-tip);
	text-align: center;
}
div > header > nav > ul{
	height: 39px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.selected{
	opacity: 1;
	border-bottom: 3px solid #85DB80;
	border-left: 3px outset transparent;
	border-right: 3px outset transparent;
}
div > header > nav img{
	height: 30px;
}
div > header > nav ul li a{
	padding: 19px 18px 0;
	opacity: 0.5;
	border-bottom: 3px solid transparent;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
}
div > header > nav ul li a:hover:not(.selected),
div > header > nav ul li a:focus:not(.selected){
	opacity: 0.7;
}
.main-title{
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 60px;
	margin-bottom: 1em;
	border-bottom: 1px solid #dbdbdb;
}
.main-title > h1{
	font-family: 'uppereastsideregular';
	color: #676666;
	font-size: 30px;
	letter-spacing: 0.15em;
}
.main-title > div{
	width: 40%;
	position: relative;
}
.main-title input[type="search"]{
	width: 100%;
	height: 30px;
	color: #676666;
	border: 1px solid #dbdbdb;
	border-radius: 5px;
	padding-left: 1em;
}
.main-title > div > img{
	position: absolute;
	right: 13px;
	top: 7px;
}
.main-title input[type="search"]:focus{
	outline: none;
	border-color: #4D4C72;
	color: #676666;
}
.main-title input[type="search"]::-webkit-input-placeholder { 
	color: #b9b9b9;
	letter-spacing: 0.02em;
	font-size: 14px;
}
.main-title input[type="search"]::-moz-placeholder { 
	color: #b9b9b9;
	letter-spacing: 0.02em;
	font-size: 14px;
}
.alert-div{
	display: flex;
	justify-content: flex-start;
	width: 90%;
	margin: 0 auto;
	background-color: #7377BF;
	line-height: 42px;
	border-radius: 3px;
	position: relative;
	transition: opacity 1.5s cubic-bezier(.36, .33, 1, .68), line-height 1.5s;	
}
.alert-div > p{
	font-family: 'Alegreya Sans', sans-serif;
	color: #fff;
	padding: 0 23px 0 18px;
	font-size: 17px;
	transition: font-size 2s;
}
.alert-div > p span{
	font-family: 'Alegreya Sans SC', sans-serif;
	letter-spacing: 0.1em;
}
.alert-div a:link{
	color: #fff176;
}
.alert-div a:visited{
	color: #272b73;
}
.alert-div a:hover{
	color: yellow;
	text-decoration: underline;
}
.alert-div a:active{
	color: transparent;
}
.line-chart{
	position: relative;
	width: 96%;
	margin: 1.5em auto 1em;
}
.alert-div > button{
	position: absolute;
	font-family: 'Alegreya Sans SC', sans-serif;
	width: 18px;
	height: 30px;
	font-size: 18px;
	background-color: #7377BF;
	right: 5px;
	top: 50%;
	transform: translateY(-50%);
	color: #fff;
	border: none;
	transition: font-size 1.5s;
}
.line-legend > ul{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 0.5em;
}
.line-legend > ul li{
	padding: 0 10px;
	font-family: 'Alegreya Sans', sans-serif;
}
.line-legend > ul li p{
	display: inline;
}
.line-legend > ul li div{
	display: inline-block;
	margin-right: 5px;
}
.line-buttons{
	margin-top: 1em;
	position: relative;
	display: flex;
	justify-content: space-around;	
}
.line-buttons > p{
	position: absolute;
	font-family: 'Alegreya Sans', sans-serif;
	text-transform: uppercase;
	left: 50%;
	top: 30px;
	transform: translateX(-50%);	
}
.line-buttons > button{
	font-family: 'Alegreya Sans SC', sans-serif;
	padding: 4px 11px;
	font-size: 16px;
	border: none;
}
.line-buttons > button:hover{
	cursor: pointer;
}
.line-buttons > button:not(.line-selected){
	color: #676666;
	background-color: transparent;
}
.line-selected{
	color: #fff;
	background-color: #81C98F;
	padding: 2px 10px;
	border-radius: 50px;
}
.bar_donut{
	position: relative;
	margin-top: 1em;
	display: flex;
	flex-direction: column;
	border-top: 1px solid #cecece;
	border-bottom: 1px solid #cecece;
}
.bar-chart{
	position: relative;
	width: 96%;
	margin: 3em auto;
}
.donut-chart{
	position: relative;
	border-top: 1px solid #cecece;
	width: 96%;
	padding-top: 1em;
	margin: 0 auto 1em;	
}
.donut-chart > span{
	position: absolute;
	font-family: 'Alegreya Sans', sans-serif;
	text-transform: uppercase;
	left: 50%;
	top: 15px;
	transform: translateX(-50%);	
}
.donut-chart > p{
	position: absolute;
	font-family: 'Josefin Slab', serif;
	font-size: 22px;
	white-space: pre;
	bottom: 45%;
	left: 50%;
	transform: translateY(50%) translateX(-50%);
}
.donut-chart > canvas{
	width: 297px;
	height: 297px;
	margin: auto;
	margin-top: 20px;
	opacity: 0;
	background: url("shadow2.jpg") no-repeat;
	transition: opacity 0.5s linear;
}
.donut-legend{
	margin-bottom: 1em;
	position: relative;
}
.donut-legend > ul{
	display: flex;
	justify-content: center;
}
.donut-legend > ul li{
	padding: 0 10px;
	display: flex;
	align-items: center;
	font-family: 'Alegreya Sans', sans-serif;
}
.donut-legend > ul li p{
	display: inline;
}
.donut-legend > ul li div{
	display: inline-block;
	margin-right: 5px;
}
.donut-legend > ul li:focus{
	padding: 0 10px;
	display: flex;
	align-items: center;
	font-family: 'Alegreya Sans', sans-serif;
}
.bar_donut > p:first-of-type{
	position: absolute;
	font-family: 'Alegreya Sans', sans-serif;
	text-transform: uppercase;
	left: 50%;
	top: 15px;
	transform: translateX(-50%);
}
.bar_donut > button{
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size: 16px;
	position: absolute;
	width: 40px;
	top: 15px;
	right: 3%;
	border: none;
	background-color: transparent;
	color: #7377bf;
	cursor: pointer;
}
.soc-holder{
	background-color: #fbfbfb;
	border: 1px solid #cecece;
	height: 117px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border-radius: 4px;
	width: 329px;
	margin: 1em 0;
}
.soc-holder svg {
	height: 35px;
	position: absolute;
	top: 52%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#fb{
	height: 43px;
}
.soc-holder > .soc-svg-holder{
	background-color: #7377bf;
	height: 72px;
	width: 72px;
	border-radius: 50px;
	margin: 0 20px;
	position: relative;
}
.soc-holder > .soc-txt-holder{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.soc-holder > .soc-txt-holder p{
	font-family: 'uppereastsideregular';
	color: #7377bf;
	font-size: 60px;
	letter-spacing: 2px;
}
.soc-holder > .soc-txt-holder span{
	font-family: 'Josefin Slab', serif;
	font-size: 50px;
	color: #676666;
}
.soc-svg{	
	fill: #fefefe;
}
.social{
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	margin: 3em 0 2em;
}
.social > p{
	position: absolute;
	top: -26px;
	left: 50%;
	transform: translateX(-50%);
	font-family: 'Alegreya Sans', sans-serif;
	text-transform: uppercase;	
}
.members_activity{
	border-top: 1px solid #cecece;
	border-bottom: 1px solid #cecece;
	margin: 1em 0 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.new-members,
.rec-activity{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-top: 1em;
	padding-bottom: 1em;
	width: 100%;
}
.new-members{
	border-bottom: 1px solid #cecece;
}
.new-members > div:last-child,
.rec-activity > div:last-child{
	border: none;
}
.new-members > p,
.rec-activity > p{
	padding-top: 0.5em;
	font-family: 'Alegreya Sans', sans-serif;
	text-transform: uppercase;
}
.m-a-imgs{
	height: 40px;
	border-radius: 50%;
	margin-right: 0.5em;
}
.member,
.activity{
	margin: 1em 0 0 0;
	height: 75px;
	position: relative;
	overflow: hidden;
	display: flex;
	width: 88.8%;
	justify-content: flex-start;
	align-items: center;
	border-bottom: 1px solid #cecece;
	max-width: 492px;
}
.mem-out,
.act-out{
	display: flex;
	flex-wrap: wrap;
	width: 90%;
	opacity: 1;
	justify-content: space-between;
	align-items: center;
	transform: translateX(0%);
	transition: transform 1s ease-in-out 0.4s, opacity 0.3s ease-in-out 0.5s;
}
.act-out{
	display: block;
}
.mem-out{
	flex-direction: column;
	align-items: flex-start;
}
.mem-out > div{
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-between;
}
.hidden{
	font-family: 'Josefin Slab', serif;
	width: 75%;
	opacity: 0;
	margin-left: 1.15em;
	position: absolute;
	transform: translateX(500%);
	transition: transform 0.7s cubic-bezier(0.68,-0.02, 0.79, 0.75) 0.05s, opacity 0.3s ease-in-out 0.5s;
}
.rec-activity .activity > button{
	margin-right: 2px;
	border: none;
	background-color: transparent;
	cursor: pointer;
	font-family: 'Alegreya Sans SC', sans-serif;
	color: #7377bf;
	font-size: 33px;
	transition: position 1s ease-out 0.5s, left 1s ease-out 0.5s, color 0.25s ease;
}
.leftside{
	position: absolute;
	left: 45px;
}
.rightside{
	position: static;
	left: auto;
}
.rec-activity .activity > button:hover{
	color: #ff0000;
}
.mem-out > div > p:nth-of-type(1),
.act-out > p:nth-of-type(1){
	color: #676666;
	font-family: 'Alegreya Sans SC', sans-serif;
}
.act-out > p:nth-of-type(1){
	transition: all 0.5s;
}
div.mem-out > p{
	color: #7377bf;
	font-family: 'Josefin Slab', serif;
	font-weight: 600;
}
.act-out > p:nth-of-type(2){
	color: #676666;
	font-family: 'Josefin Slab', serif;
	font-weight: 600;
	transition: all 0.5s;
}
div.mem-out > p:hover{
	text-decoration: underline;
	cursor: pointer;
}
.mem-out > div > p:last-of-type{
	font-family: 'Alegreya Sans', sans-serif;
}
.message_settings{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 2em;	
}
.messages{	
	border-bottom: 1px solid #cecece;
	margin-bottom: 1em;
	position: relative;
}
.messages,
.settings{
	width: 100%;
	padding: 1.5em 0 3em;
}
.messages form > p{
	position: absolute;
	display: none;
	background-color: transparent;
	margin: auto;
	opacity: 1;
	top: 70px;
	left: 50%;
	letter-spacing: 4px;
	transform-origin: center center;
	transform: translateX(-50%) rotateX(4deg) rotateY(-50deg) rotate(-8deg);
	width: 97%;
	text-align: center;
	font-family: 'uppereastsideregular';
	font-size: 90px;
	color: #fff;
	z-index: 56;
	transition: all 1.5s;
}
.messages fieldset,
.settings fieldset{
	border: none;
	max-width: 492px;
	margin: 0 auto 5em;	
}
.messages fieldset{
	margin: 0 auto 1em;	
	position: relative;
}
.messages fieldset ul{
	max-height: 250px;
	overflow: auto;
	z-index: 55;
	display: none;
	background: radial-gradient(circle at right center, #7377bf -115%, #fbfbfb 100%);
	border: 2px solid #676666;
	position: absolute;
	border-radius: 4px;
	width: 100%;
	font-family: 'Alegreya Sans', sans-serif;
	left: 50%;
	transform: translateX(-50%);
}
.messages fieldset ul li{
	padding: 2px 4px;
	color: #000;
	font-size: 20px;
}
#userselect{
	color: #fffed7;
	box-shadow: inset -35px 0px 35px -5px #7377bf;
}
#userselect:not(span){
	color: #000;
}
.messages legend,
.settings legend{
	text-transform: uppercase;
	font-family: 'Alegreya Sans', sans-serif;
	margin: auto;
	padding-bottom: 1em;
}
.messages form,
.settings form{
	width: 90%;
	margin: auto;
}
.messages input[name="search"]{
	outline: none;
	color: #676666;
	font-size: 18px;
	font-family: 'Alegreya Sans', sans-serif;
	height: 45px;
	width: 100%;
	box-shadow: 0 0 0 1px #cecece;
	background-color: #fbfbfb;
	border: 3px solid transparent;
	padding-left: 1em;
	border-radius: 5px;
	transition: border 0.7s ease-out;
}
.messages input[name="search"]::-webkit-input-placeholder{
	color: #b9b9b9;
	font-size: 17px;
	font-family: 'Alegreya Sans', sans-serif;
}
.messages input[name="search"]::-moz-placeholder{
	color: #b9b9b9;
	font-size: 17px;
	font-family: 'Alegreya Sans', sans-serif;	
}
.messages label{
	color: transparent;
	display: block;
}
.messages textarea{
	outline: none;
	resize: none;
	width: 100%;
	color: #676666;
	font-size: 18px;
	font-family: 'Alegreya Sans', sans-serif;
	height: 8em;
	box-shadow: 0 0 0 1px #cecece;
	border-radius: 5px;
	background-color: #fbfbfb;
	border: 3px solid transparent;
	padding: 0.75em 1em 1em;
	transition: all 0.7s ease-out;
}
.messages textarea::-webkit-input-placeholder{
	color: #b9b9b9;
	font-size: 17px;
	font-family: 'Alegreya Sans', sans-serif;
}
.messages textarea::-moz-placeholder{
	color: #b9b9b9;
	font-size: 17px;
	font-family: 'Alegreya Sans', sans-serif;
}
.messages button,
.settings form button{
	width: 100%;
	color: #fff;
	font-family: 'uppereastsideregular';
	letter-spacing: 4px;
	font-size: 50px;
	height: 2em;
	background-color: #7377bf;
	border: none;
	border-radius: 5px;
	border: 3px solid transparent;
	outline: none;
	transition: all 0.7s ease-out;
}
.messages button{
	margin: 2em auto 0;
	display: block;
	max-width: 492px;
}
.messages input[name="search"]:focus,
.messages textarea:focus,
.timezone select:focus{
	outline-offset: 0;
	border: 3px solid #4D4C72;
}
.messages button:focus,
.settings form button:focus{
	outline-offset: 0;
	border: 3px solid #221122;
}
.email_notify,
.public_profile,
.barchart_autoplay,
.linechart_default{	
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.linechart_default{
	height: 100px;
}
.email_notify > div,
.public_profile > div,
.barchart_autoplay > div,
.linechart_default > div{
	position: relative;
	background: linear-gradient(to bottom right, #a6aaf2, #40448c);
	width: 95px;
	height: 37px;
	border: 2px solid #cecece;
	border-radius: 50px;
	transition: background-color 1.25s;
}
.linechart_default > div{
	height: 95px;
	width: 95px;
	border-radius: 50%;
	border: 1px solid #969ae2;
}
.email_notify input[name="email_notify"],
.public_profile input[name="public_profile"],
.barchart_autoplay input[name="barchart_autoplay"],
.linechart_default input[name="linechart_default"]{
	-moz-appearance: none;
	position: absolute;
	right: 14px;
	top: 16px;
	width: 1px;
	height: 1px;
	outline: none;
}
.linechart_default input[name="linechart_default"]:after{
	font-family: 'Alegreya Sans SC', sans-serif;
	position: absolute;
	font-size: 22px;
	color: #221122;
}
.linechart_default input[name="linechart_default"]:nth-of-type(1){
	left: 5px;
	top: 25px;
}
.linechart_default input[name="linechart_default"]:nth-of-type(1):after{
	content: "h";
	transform: rotate(-71deg);
	right: -9px;
	top: -6px;
}
.linechart_default input[name="linechart_default"]:nth-of-type(2){
	left: 25px;
	top: 5px;
}
.linechart_default input[name="linechart_default"]:nth-of-type(2):after{
	content: "d";
	transform: rotate(-28deg);
	right: -9px;
	top: -9px;
}
.linechart_default input[name="linechart_default"]:nth-of-type(3){
	top: 5px;
	right: 25px;
}
.linechart_default input[name="linechart_default"]:nth-of-type(3):after{
	content: "w";
	transform: rotate(28deg);
	right: -5px;
	bottom: -18px;
}
.linechart_default input[name="linechart_default"]:nth-of-type(4){
	right: 5px;
	top: 25px;
}
.linechart_default input[name="linechart_default"]:nth-of-type(4):after{
	content: "m";
	transform: rotate(71deg);
	right: inherit;
	top: -10px;
	left: -5px;
}
.linechart_default input[name="linechart_default"]:checked:after{
	color: #fff;
}
.email_notify input[name="email_notify"]:not(:checked),
.public_profile input[name="public_profile"]:not(:checked),
.barchart_autoplay input[name="barchart_autoplay"]:not(:checked){
	z-index: -1;
}
.email_notify input[name="email_notify"]:after,
.public_profile input[name="public_profile"]:after,
.barchart_autoplay input[name="barchart_autoplay"]:after{
	content: " ";
	position: absolute;
	top: -12px;
	right: -10px;
	display: inline-block;
	width: 21px;
	height: 21px;
	border-radius: 50%;
	background-color: #fff;
	border: 2px solid #cecece;
}
.email_notify input[value="off"],
.public_profile input[value="off"],
.barchart_autoplay input[value="off"]{	
	left: 14px;
}
.email_notify input[value="off"]:after,
.public_profile input[value="off"]:after,
.barchart_autoplay input[value="off"]:after{	
	top: -12px;
	left: -10px;
}
.email_notify > p,
.public_profile > p,
.barchart_autoplay > p,
.linechart_default > p{
	font-family: 'Alegreya Sans', sans-serif;	
}
.linechart_default > p{
	width: 125px;
}
.email_notify label,
.public_profile label,
.barchart_autoplay label,
.linechart_default label{
	position: absolute;
	left: 6px;
	top: 2px;
	color: #fff;
	font-size: 22px;
	font-family: 'Alegreya Sans SC', sans-serif;
}
.linechart_default > div > div.dial{
	width: 40px;
	height: 40px;
	position: absolute;
	background: linear-gradient(to bottom right, #a6aaf2, #40448c);
	border-radius: 50%;
	transform: translateX(-50%) translateY(-50%);
	left: 50%;
	top: 50%;
	box-shadow: 5px 6px 13px black, -1px -1px 12px white;
}
.linechart_default > div > div.pointer{
	position: absolute;
	width: 0;
	height: 14px;
	top: 28px;
	transform: translateX(-50%) rotate(-71deg);
	transform-origin: 2px 18px;
	left: 50%;
	border-radius: 2px;
	border: 2px solid #fff;	
}
.linechart_default label{
	color: #221122;
	top: inherit;
	left: 50%;
	transform: translateX(-50%);
	bottom: -25px;
}
.linechart_default input:not(:checked) + label{
	color: transparent;
}
.email_notify label:last-of-type,
.public_profile label:last-of-type,
.barchart_autoplay label:last-of-type{
	display: none;
}
.settings form > div{
	position: relative;
	display: flex;
	max-width: 492px;
	margin: auto;
	justify-content: space-between;
}
.settings form > div > p{
	opacity: 0;
	position: absolute;
	background-color: rgba(10,10,10,0.8);
	top: -48px;
	left: 50%;
	transform: translateX(-50%);
	width: 90%;
	text-align: center;
	padding: 0.4em 0;
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 20px;
	color: #fff;
	border-radius: 50px;
	transition: opacity 1.5s;
}
.settings form button{
	width: 45%;
	max-width: 233px;
}
.settings form button:last-of-type{
	background-color: #B2B2B2;
}
.timezone{
	margin-top: 2.5em;
	position: relative;
}
.timezone label{
	color: transparent;
	display: block;
}
.timezone select{
	outline: none;
	width: 100%;
	background: url(downArrow.jpg) no-repeat 100%;
	font-size: 17px;
	font-family: 'Alegreya Sans', sans-serif;
	background-color: #fbfbfb;
	box-shadow: 0 0 0 1px #cecece;
	border: 3px solid transparent;
	border-radius: 5px;
	padding: 0.75em 0.5em;
	-webkit-appearance: none;
    -moz-appearance: none;
	transition: border 0.7s ease-out;
}
.timezone select:required:invalid{
	color: #b9b9b9;
}
.timezone select option[value=""][disabled]{
	display: none;
}
.timezone select option{
	color: #676666;
}
@media screen and (max-width: 399px){	
	.tooltip2:after{
		left: -18px;
	}
	#visits:target > p{
		top: 67px;
	}
}
@media screen and (min-width: 400px){	
	body > header > h1{
		padding-left: 0.4em;
	}
	body > header > div{
		width: 185px;
		padding-right: 1em;
	}
	div > header > nav ul li a{
		padding: 19px 27px 0;
	}
	.line-buttons > p{
		left: 14px;
		top: 50%;
		transform: translateY(-50%);
	}
	.line-buttons{
		justify-content: flex-end;
		padding-right: 3%;
	}
}
@media screen and (min-width: 400px) and (max-width: 767px){
	#visits:target > p{
		top: 54px;
	}	
}
@media screen and (max-width: 767px){
	#members:target{
		padding-top: 16px;
	}
	#settings:target,
	#visits:target{
		padding-top: 41px;
	}
}
@media screen and (min-width: 768px){
	body > div:nth-of-type(1){
		display: flex;
	}
	div > header{
		margin-bottom: 0;
		flex-shrink: 0;	
	}
	div > header > nav{
		position: -webkit-sticky;
		position: sticky;
		top: 0;
		right: 0;
		left: 0;
		z-index: 111;
	}
	div > header > nav > ul{
		height: 322px;
		flex-direction: column;
		justify-content: space-around;
		padding-top: 0.6em;
	}
	div > header > nav ul li a{
		padding: 30px 27px 12px;
		border-bottom: 3px solid transparent;
		border-left: 3px solid transparent;
		border-top: 3px solid transparent;
		border-right: none;
	}
	.selected{
		border-left: 3px solid #85DB80;
		border-bottom: 3px outset transparent;
		border-top: 3px outset transparent;
		border-right: none;
	}
	div > header > nav img{
		height: 32px;
	}
	div > main{
		flex-grow: 1;
	}
	.main-title{
		padding-bottom: 0;
		height: 63px;
		justify-content: space-between;
		border-bottom: none;
	}
	.main-title > h1{
		padding-left: 0.65em;
		padding-right: 0.55em;
	}
	.main-title > div{
		flex-grow: 1;
		height: 100%;
		background-color: #fbfbfb;
		border-bottom: 1px solid #dfdfdf;
		border-left: 1px solid #dfdfdf;
	}
	.main-title input[type="search"]{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 20px;
		width: 50%;
		max-width: 380px;
		height: 38px;
	}
	.main-title > div > img{
		right: 34px;
		top: 50%;
		transform: translateY(-50%);
	}
	.alert-div{
		width: 96%;	
	}
	.line-chart{
		width: 94%;
	}
	.members_activity,
	.message_settings{
		flex-direction: row;
		justify-content: space-around;
		align-items: flex-start;
	}
	.rec-activity,
	.settings{
		border-left: 1px solid #cecece;
	}
	.messages button{
		margin-top: 4.22em;
	}
	@-moz-document url-prefix(){
		.messages button{
			margin-top: 4.33em;
		}
	}
	.new-members,
	.messages{
		border-bottom: none;
	}
}
@media screen and (min-width: 1024px){	
	.bar-chart,
	.donut-chart{
		margin-bottom: 0;
		padding-bottom: 1em;
	}
	.bar_donut{
		flex-direction: row;
	}
	.bar_donut > button{
		left: 45%;
	}
	.bar_donut > p:first-of-type{
		left: 8%;
	}
	.donut-chart > span{
		left: 25%;	
	}
	.social > p{
		left: 7%;
	}
	.donut-chart > p{
		bottom: 50%;
	}
	.donut-chart{
		border-left: 1px solid #cecece;
		border-top: none;
	}
	.dough{
		display: flex;
		flex-direction: row;
	}
	.dough,
	.bar-chart{
		width: 50%;
	}
	.donut-legend > ul{
		flex-direction: column;
		justify-content: space-evenly;
		height: 100%;
		margin-right: 50px;
	}
	.bar-chart{
		margin-left: 5px;
		margin-right: -5px;
	}
	.new-members > p,
	.rec-activity > p{
		width: 88.8%;
		max-width: 492px;
	}
	.messages legend,
	.settings legend{
		margin: 0;
	}
}
