@font-face {
    font-family: 'uppereastsideregular';
    src: url('UpperEastSide-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style-type: none;
	text-decoration: none;
}

body > header{
	height: 70px;
	background-color: #7477BF;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
body > header > h1{
	color: #fff;
	font-family: 'uppereastsideregular';
	font-size: 50px;
	letter-spacing: 0.05em;
	padding-left: 0.125em;
} 

body > header > h1 > span{
	font-size: 25px;
}

body > header > div{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 48%;
	text-align: center;
}

body > header > div > p:first-of-type{
	font-size: 45px;
	color: #5E62BF;
	padding-bottom: 8px;
}

body > header > div > p:last-of-type{
	color: #fff;
	font-family: 'Alegreya Sans', sans-serif;
}


body > header > div > button{
	cursor: pointer;
	opacity: 0.7;
	background-color: transparent;
	border: none;
	width: 22px;
	height: 22px;
}

.st0{
	fill: #fbfbfb;
}

body > header > div > button:hover{
	opacity: 1;
}

body > header > div > span{
	display: none;
	position: absolute;
	color: #85DB81;
	font-size: 55px;
	left: 15px;
	bottom: 28px;
	cursor: default;
	animation: blink 0.75s linear infinite;
}

@keyframes blink{
	0%{color: #85db81;}
	100%{color: #64ff5c;}
}

.dropdown{
	display: none;
	position: absolute;
	background-color: #fbfbfb;
	width: 250px;
	top: 55px;
	left: -136px;
	z-index: 11;
	border-radius: 4px;
	/* border: 2px solid #4d4c72; */
	box-shadow: 12px 14px 15px 3px #0a0a0f;
	
}

.dropdown ul{
	padding: 1em;
}

.dropdown ul li{
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 20px;
	color: #676666;
	border-bottom: 1px solid #676666;
	/* background-color: #81c98f; */
	margin-bottom: 0.25em;
	text-align: left;
}

.dropdown ul li span{
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size: 25px;
	color: #81c98f;
	
	
	
}


.triangle{
	display: none;
	position: absolute;
	width: 0;
	height: 0;
	top: 36px;
	left: -3px;
	border-left: 17px solid transparent;
	border-right: 17px solid transparent;
	border-bottom: 19px solid #fbfbfb;
	

}



body > header > div > img:last-of-type{
	height: 30px;
	border-radius: 50%;
}

div > header{
	background-color: #4D4C72;
	/* margin-bottom: 1em; */
}

div > header > nav > ul{
	height: 39px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.selected{
	opacity: 1;
	border-bottom: 3px solid #85DB80;
	border-left: 3px outset transparent;
	border-right: 3px outset transparent;
}

div > header > nav img{
	height: 30px;
}

div > header > nav ul li a{
	padding: 19px 18px 0;
	opacity: 0.5;
	border-bottom: 3px solid transparent;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
}

div > header > nav ul li a:hover:not(.selected),
div > header > nav ul li a:focus:not(.selected){
	opacity: 0.7;
}

.main-title{
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 60px;
	margin-bottom: 1em;
	/* padding-bottom: 0.5em; */
	border-bottom: 1px solid #dbdbdb;
}

.main-title > h1{
	font-family: 'uppereastsideregular';
	color: #676666;
	font-size: 30px;
	letter-spacing: 0.15em;
}
.main-title > div{
	width: 40%;
	position: relative;
}

.main-title input[type="search"]{
	width: 100%;
	height: 30px;
	color: #676666;
	border: 1px solid #dbdbdb;
	border-radius: 5px;
	padding-left: 1em;
}

.main-title > div > img{
	position: absolute;
	right: 13px;
	top: 7px;
}

.main-title input[type="search"]:focus{
	outline: none;
	border-color: #4D4C72;
	color: #676666;
}

.main-title input[type="search"]::-webkit-input-placeholder { 
	color: #b9b9b9;
	letter-spacing: 0.02em;
	font-size: 14px;
}
.main-title input[type="search"]::-moz-placeholder { 
	color: #b9b9b9;
	letter-spacing: 0.02em;
	font-size: 14px;
}
.alert-div{
	display: flex;
	justify-content: flex-start;
	width: 90%;
	margin: 0 auto;
	background-color: #7377BF;
	line-height: 42px;
	border-radius: 3px;
	position: relative;
	transition: opacity 1.5s cubic-bezier(.36, .33, 1, .68), line-height 1.5s;
	
}

.alert-div > p{
	font-family: 'Alegreya Sans', sans-serif;
	color: #fff;
	padding: 0 23px 0 18px;
	font-size: 17px;
	transition: font-size 2s;
}

.alert-div > p span{
	font-family: 'Alegreya Sans SC', sans-serif;
	letter-spacing: 0.1em;
}

.line-chart{
	position: relative;
	/* display: flex; */
	/* flex-direction: column; */
	/* justify-content: flex-start; */
	/* align-items: center; */
	/* height: 233px; */
	width: 96%;
	margin: 1.5em auto 1em;
	/* padding-bottom: 20em; */
	/* background-color: crimson; */
}

.alert-div > button{
	position: absolute;
	font-family: 'Alegreya Sans SC', sans-serif;
	width: 18px;
	height: 30px;
	font-size: 18px;
	background-color: #7377BF;
	right: 5px;
	top: 50%;
	transform: translateY(-50%);
	color: #fff;
	border: none;
	transition: font-size 1.5s;
}

.line-legend > ul{
	/* background-color: pink; */
	display: flex;
	justify-content: center;
	
}

.line-legend > ul li{
	padding: 0 10px;
	font-family: 'Alegreya Sans', sans-serif;
}

.line-legend > ul li p{
	display: inline;
}

.line-legend > ul li div{
	display: inline-block;
	margin-right: 5px;
}

.line-buttons{
	margin-top: 1em;
	position: relative;
	display: flex;
	justify-content: flex-end;
	padding-right: 3%;
}

.line-buttons > p{
	position: absolute;
	font-family: 'Alegreya Sans', sans-serif;
	text-transform: uppercase;
	left: 50%;
	top: 30px;
	transform: translateX(-50%);
	
}



.line-buttons > button{
	font-family: 'Alegreya Sans SC', sans-serif;
	padding: 4px 11px;
	font-size: 16px;
	border: none;
	/* margin-left: 10px; */
}


.line-buttons > button:hover{
	cursor: pointer;
}

.line-buttons > button:not(.line-selected){
	color: #676666;
	background-color: transparent;
}

.line-selected{
	color: #fff;
	background-color: #81C98F;
	padding: 2px 10px;
	border-radius: 50px;
}

.bar_donut{
	position: relative;
	margin-top: 1em;
	display: flex;
	flex-direction: column;
	border-top: 1px solid #cecece;
	border-bottom: 1px solid #cecece;
}


.bar-chart{
	position: relative;
	width: 96%;
	margin: 1em auto;
}

.donut-chart{
	position: relative;
	border-top: 1px solid #cecece;
	width: 96%;
	padding-top: 1em;
	margin: 0 auto 1em;
	
}


.donut-chart > span{
	position: absolute;
	font-family: 'Alegreya Sans', sans-serif;
	text-transform: uppercase;
	left: 50%;
	top: 2px;
	transform: translateX(-50%);
	
}


.donut-chart > p{
	position: absolute;
	font-family: 'Josefin Slab', serif;
	font-size: 22px;
	white-space: pre;
	bottom: 50%;
	left: 50%;
	transform: translateY(50%) translateX(-50%);

}



.donut-chart > canvas{
	width: 297px;
	height: 297px;
	margin: auto;
	opacity: 0;
	background: url("shadow2.jpg") no-repeat;
	transition: opacity 0.5s linear;
}

.donut-legend{
	margin-bottom: 1em;
	position: relative;
}


.donut-legend > ul{
	/* background-color: pink; */
	display: flex;
	justify-content: center;
	
}

.donut-legend > ul li{
	padding: 0 10px;
	display: flex;
	align-items: center;
	font-family: 'Alegreya Sans', sans-serif;
}

.donut-legend > ul li p{
	display: inline;
}

.donut-legend > ul li div{
	display: inline-block;
	margin-right: 5px;
}








.bar_donut > p:first-of-type{
	position: absolute;
	font-family: 'Alegreya Sans', sans-serif;
	text-transform: uppercase;
	left: 50%;
	top: 2px;
	transform: translateX(-50%);
}

.bar_donut > button{
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size: 16px;
	position: absolute;
	width: 40px;
	top: 2px;
	right: 3%;
	border: none;
	background-color: transparent;
	color: #7377bf;
	cursor: pointer;
}


.soc-holder{
	background-color: #fbfbfb;
	border: 1px solid #cecece;
	height: 117px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border-radius: 4px;
	/* width: 100%; */
	width: 329px;
	margin: 1em auto;
}


.soc-holder svg {
	height: 35px;
	/* display: block; */
	position: absolute;
	top: 52%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	/* padding-top: 18px; */
	/* margin: 0 auto; */
}

#fb{
	height: 43px;
}

.soc-holder > .soc-svg-holder{
	background-color: #7377bf;
	height: 72px;
	width: 72px;
	border-radius: 50px;
	margin: 0 20px;
	position: relative;
	/* display: inline-block; */
}

.soc-holder > .soc-txt-holder{
	/* display: inline-block; */
	display: flex;
	flex-direction: column;
	justify-content: center;
}


.soc-holder > .soc-txt-holder p{
	/* font-family: 'Alegreya Sans SC', sans-serif; */
	font-family: 'uppereastsideregular';
	color: #7377bf;
	font-size: 60px;
	letter-spacing: 2px;
	
}

.soc-holder > .soc-txt-holder span{
	/* font-family: 'Alegreya Sans', sans-serif; */
	/* font-family: 'uppereastsideregular'; */
	font-family: 'Josefin Slab', serif;
	font-size: 50px;
	color: #676666;
}




.soc-svg{
	
	fill: #fefefe;
}


.social{
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	margin: 1em 0;
}

.social > p{
	position: absolute;
	top: -10px;
	left: 50%;
	transform: translateX(-50%);
	font-family: 'Alegreya Sans', sans-serif;
	text-transform: uppercase;
	
}







.members_activity{
	border-top: 1px solid #cecece;
	/* border-bottom: 1px solid #cecece; */
	margin: 1em 0 0;
	
}




.new-members,
.rec-activity{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 1em;
	border-bottom: 1px solid #cecece;
	padding-bottom: 1em;
}

.new-members > p,
.rec-activity > p{
	position: absolute;
	top: -10px;
	left: 50%;
	transform: translateX(-50%);
	font-family: 'Alegreya Sans', sans-serif;
	text-transform: uppercase;
	
}

.m-a-imgs{
	height: 40px;
	border-radius: 50%;
	/* display: inline-block; */
	margin-right: 0.5em;
	
}

.member,
.activity{
	margin: 1em 0;
	position: relative;
	overflow: hidden;
	display: flex;
	width: 90%;
	justify-content: flex-start;
	border-bottom: 1px solid #cecece;
	padding-bottom: 1em;
}

.mem-out,
.act-out{
	display: flex;
	flex-wrap: wrap;
	width: 90%;
	opacity: 1;
	justify-content: space-between;
	align-items: center;
	transform: translateX(0%);
	transition: transform 1s ease-in-out 0.5s, opacity 0.3s ease-in-out 0.5s;
}

.hidden{
	font-family: 'Josefin Slab', serif;
	width: 75%;
	opacity: 0;
	margin-left: 1.25em;
	position: absolute;
	transform: translateX(500%);
	transition: transform 0.7s cubic-bezier(0.68,-0.02, 0.79, 0.75) 0.05s, opacity 0.3s ease-in-out 0.5s;
}



.rec-activity .activity > button{
	border: none;
	background-color: transparent;
	cursor: pointer;
	font-family: 'Alegreya Sans SC', sans-serif;
	color: #7377bf;
	font-size: 33px;
	transition: all 1s initial 0.5s;
}

.rec-activity .activity > button:hover{
	color: #ff0000;
}

.mem-out > div > p:nth-of-type(1),
.act-out > p:nth-of-type(1){
	color: #676666;
	font-family: 'Alegreya Sans SC', sans-serif;
}

.act-out > p:nth-of-type(1){
	/* margin-left: 0.5em; */
	transition: all 0.5s;
}


.mem-out > div > p:nth-of-type(2),
.act-out > p:nth-of-type(2){
	color: #7377bf;
	font-family: 'Josefin Slab', serif;
	font-weight: 600;
}

.act-out > p:nth-of-type(2){
	/* margin-left: 0.5em; */
	color: #676666;
	transition: all 0.5s;
}

.mem-out > div > p:nth-of-type(2):hover{
	text-decoration: underline;
	cursor: pointer;
}


.mem-out > p{
	font-family: 'Alegreya Sans', sans-serif;
}



.message_settings{
	
	
	margin: 2em 0;
	
}

.messages{
	padding-bottom: 1em;
	border-bottom: 1px solid #cecece;
	margin-bottom: 1em;
	
}

.messages fieldset,
.settings fieldset{
	border: none;
	margin-bottom: 4em;
	
}

.messages legend,
.settings legend{
	text-transform: uppercase;
	font-family: 'Alegreya Sans', sans-serif;
	padding-top: 1em;
}

.messages form,
.settings form{
	width: 90%;
	margin: auto;
	border-top: 1px solid #cecece;
}

.messages input[name="search"]{
	/* margin-bottom: 1em; */
	outline: none;
	color: #676666;
	font-size: 18px;
	font-family: 'Alegreya Sans', sans-serif;
	height: 45px;
	width: 100%;
	background-color: #fbfbfb;
	border: 1px solid #cecece;
	padding-left: 1em;
	border-radius: 5px;
	transition: all 0.7s ease-out;
}





.messages input[name="search"]::-webkit-input-placeholder{
	color: #b9b9b9;
	font-size: 17px;
	font-family: 'Alegreya Sans', sans-serif;
}

.messages input[name="search"]::-moz-placeholder{
	color: #b9b9b9;
	font-size: 17px;
	font-family: 'Alegreya Sans', sans-serif;
	
}



.messages label{
	color: transparent;
}



.messages textarea{
	outline: none;
	resize: none;
	width: 100%;
	color: #676666;
	font-size: 18px;
	font-family: 'Alegreya Sans', sans-serif;
	height: 8em;
	
	border-radius: 5px;
	background-color: #fbfbfb;
	border: 1px solid #cecece;
	padding: 0.75em 1em 1em;
	transition: all 0.7s ease-out;
}

.messages textarea::-webkit-input-placeholder{
	color: #b9b9b9;
	font-size: 17px;
	font-family: 'Alegreya Sans', sans-serif;
}

.messages textarea::-moz-placeholder{
	color: #b9b9b9;
	font-size: 17px;
	font-family: 'Alegreya Sans', sans-serif;
}


.messages button,
.settings form button{
	width: 100%;
	color: #fff;
	font-family: 'uppereastsideregular';
	letter-spacing: 4px;
	font-size: 50px;
	height: 2em;
	background-color: #7377bf;
	border: none;
	border-radius: 5px;
	outline: none;
	transition: all 0.7s ease-out;
}

.messages input[name="search"]:focus,
.messages textarea:focus,
.messages button:focus,
.settings form button:focus{
	border: 3px solid #4D4C72;
}


.email_notify,
.public_profile,
.barchart_autoplay,
.linechart_default{
	
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.linechart_default{
	height: 100px;
}

.email_notify > div,
.public_profile > div,
.barchart_autoplay > div,
.linechart_default > div{
	position: relative;
	/* display: flex; */
	/* align-items: center; */
	/* justify-content: space-around; */
	background-color: #7377bf;
	width: 95px;
	height: 37px;
	border: 2px solid #cecece;
	border-radius: 50px;
	transition: background-color 1.25s;
}

.linechart_default > div{
	height: 95px;
	width: 95px;
	border-radius: 50%;
	background: linear-gradient(to bottom right, #a6aaf2, #40448c);
	border: 1px solid #969ae2;
	box-shadow: 1px 1px black;
}


.email_notify input[name="email_notify"],
.public_profile input[name="public_profile"],
.barchart_autoplay input[name="barchart_autoplay"],
.linechart_default input[name="linechart_default"]{
	position: absolute;
	right: 14px;
	top: 16px;
	width: 10px;
	height: 10px;
	outline: none;
}

.linechart_default input[name="linechart_default"]:after{
	font-family: 'Alegreya Sans SC', sans-serif;
	position: absolute;
	font-size: 22px;
	color: #221122;
}


.linechart_default input[name="linechart_default"]:nth-of-type(1){
	left: 5px;
	top: 25px;
}

.linechart_default input[name="linechart_default"]:nth-of-type(1):after{
	/* content: "h"; */
	
	right: 0px;
	top: -6px;
}

.linechart_default input[name="linechart_default"]:nth-of-type(2){
	left: 25px;
	top: 5px;
}

.linechart_default input[name="linechart_default"]:nth-of-type(2):after{
	/* content: "d"; */
	right: 0px;
	top: -5px;
}

.linechart_default input[name="linechart_default"]:nth-of-type(3){
	top: 5px;
	right: 25px;
	/* bottom: 2px; */
}

.linechart_default input[name="linechart_default"]:nth-of-type(3):after{
	/* content: "w"; */
	/* top: inherit; */
	right: 0px;
	bottom: -1px;
}

.linechart_default input[name="linechart_default"]:nth-of-type(4){
	right: 5px;
	top: 25px;
	/* left: 0px; */
}

.linechart_default input[name="linechart_default"]:nth-of-type(4):after{
	/* content: "m"; */
	right: inherit;
	top: -5px;
	left: 0px;
}

.linechart_default input[name="linechart_default"]:checked:after{
	color: #fff;
}


.email_notify input[name="email_notify"]:not(:checked),
.public_profile input[name="public_profile"]:not(:checked),
.barchart_autoplay input[name="barchart_autoplay"]:not(:checked){
	/* display: none; */
	z-index: -1;
}


.email_notify input[name="email_notify"]:after,
.public_profile input[name="public_profile"]:after,
.barchart_autoplay input[name="barchart_autoplay"]:after{
	content: " ";
	position: absolute;
	top: -12px;
	right: -10px;
	display: inline-block;
	width: 21px;
	/* margin-right: -10px; */
	/* margin-bottom: 1px; */
	height: 21px;
	border-radius: 50%;
	background-color: #fff;
	border: 2px solid #cecece;
}



.email_notify input[value="off"],
.public_profile input[value="off"],
.barchart_autoplay input[value="off"]{
	
	/* top: 13px; */
	left: 14px;
}

.email_notify input[value="off"]:after,
.public_profile input[value="off"]:after,
.barchart_autoplay input[value="off"]:after{
	
	top: -12px;
	left: -10px;
}


.email_notify > p,
.public_profile > p,
.barchart_autoplay > p,
.linechart_default > p{
	font-family: 'Alegreya Sans', sans-serif;	
}

.linechart_default > p{
	width: 125px;
}

.email_notify label,
.public_profile label,
.barchart_autoplay label,
.linechart_default label{
	position: absolute;
	left: 6px;
	top: 2px;
	color: #fff;
	font-size: 22px;
	font-family: 'Alegreya Sans SC', sans-serif;
}

.linechart_default > div > div.dial{
	width: 40px;
	height: 40px;
	position: absolute;
	background: linear-gradient(to bottom right, #a6aaf2, #40448c);
	border-radius: 50%;
	/* border: 4px solid #cecece; */
	transform: translateX(-50%) translateY(-50%);
	left: 50%;
	top: 50%;
	box-shadow: 5px 6px 13px black;
}

.linechart_default > div > div.pointer{
	position: absolute;
	width: 0;
	height: 14px;
	top: 28px;
	transform: translateX(-50%) rotate(-64deg);
	transform-origin: 2px 18px;
	left: 50%;
	border-radius: 2px;
	border: 2px solid #fff;
	
	
	
}

.linechart_default label{
	color: #221122;
	top: inherit;
	left: 50%;
	transform: translateX(-50%);
	bottom: -25px;
}

.linechart_default input:not(:checked) + label{
	color: transparent;
}


.email_notify label:last-of-type,
.public_profile label:last-of-type,
.barchart_autoplay label:last-of-type{
	/* left: 40px; */
	display: none;
}

.settings form > div{
	position: relative;
	display: flex;
	justify-content: space-between;
}

.settings form > div > p{
	opacity: 0;
	position: absolute;
	background-color: rgba(10,10,10,0.8);
	top: -48px;
	left: 50%;
	transform: translateX(-50%);
	width: 90%;
	text-align: center;
	padding: 0.4em 0;
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 20px;
	color: #fff;
	border-radius: 50px;
	transition: opacity 1.5s;
}

.settings form button{
	width: 45%;
}

.settings form button:last-of-type{
	background-color: #B2B2B2;
}




























body > div:last-of-type{
	padding-bottom: 20em;
}


@media screen and (min-width: 400px){
	
	body > header > h1{
		padding-left: 0.4em;
	}
	
	body > header > div{
		width: 185px;
		padding-right: 1em;
	}

	div > header > nav ul li a{
		padding: 19px 27px 0;
	}

	.line-buttons > p{
		left: 14px;
		top: 50%;
		transform: translateY(-50%);
	}

}

@media screen and (min-width: 768px){

	body > div:nth-of-type(1){
		display: flex;
		/* height: 100vh; */
		
	}
	
	div > header{
		margin-bottom: 0;
		flex-shrink: 0;
	}
	
	div > header > nav > ul{
		height: 322px;
		flex-direction: column;
		justify-content: space-around;
		padding-top: 0.6em;
		
	}
	div > header > nav ul li a{
		padding: 30px 27px 12px;
		border-bottom: 3px solid transparent;
		border-left: 3px solid transparent;
		border-top: 3px solid transparent;
		border-right: none;
	}
	.selected{
		border-left: 3px solid #85DB80;
		border-bottom: 3px outset transparent;
		border-top: 3px outset transparent;
		border-right: none;
	}
	
	div > header > nav img{
		height: 32px;
	}
	
	div > main{
		flex-grow: 1;
	}
	
	.main-title{
		padding-bottom: 0;
		height: 63px;
		justify-content: space-between;
		border-bottom: none;
	}
	
	.main-title > h1{
		padding-left: 0.65em;
		padding-right: 0.55em;
	}
	
	.main-title > div{
		/* width: 66%; */
		flex-grow: 1;
		height: 100%;
		background-color: #fbfbfb;
		border-bottom: 1px solid #dfdfdf;
		border-left: 1px solid #dfdfdf;
	}
	input[type="search"]{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 20px;
		width: 50%;
		max-width: 380px;
		height: 38px;
		
		
		
	}
	.main-title > div > img{
		right: 34px;
		top: 50%;
		transform: translateY(-50%);
		
	}
	
	.alert-div{
		width: 96%;
		
	}
	
	.line-chart{
		width: 94%;
	}
	
	
}




/* dark purple: #4D4C72 */
/* alert bar, buttons: #7377BF */
/* gray button: #B2B2B2 */



